<section class="container">
  <section class="row">
    <section class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
      <div class="mt-4">
        <h1 class="text-capitalize">create new manager</h1>
      </div>
      <form [formGroup]="createManagerForm" (ngSubmit)="createManger()">
        <!-- User Name-->
        <div class="col-12 my-2">
          <label class="custom-label">User Name</label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput type="text" placeholder="Enter user name" formControlName="userName" />

            <mat-error *ngIf="
                createManagerForm.get('userName')?.invalid &&
                (createManagerForm.get('userName')?.touched ||
                  createManagerForm.get('userName')?.dirty)
              ">
              {{
              createManagerForm.get("userName")?.errors?.["required"]
              ? "User Name is required"
              : createManagerForm.get("userName")?.errors?.["maxlength"]
              ? "Maximum length is 8 characters"
              : "User Name must contain letters followed by numbers"
              }}
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Email -->
        <div class="col-12 my-2">
          <label class="custom-label"> E-mail </label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput type="email" placeholder="Enter your E-mail" formControlName="email" required />
            <mat-error *ngIf="
                createManagerForm.get('email')?.invalid &&
                (createManagerForm.get('email')?.touched ||
                  createManagerForm.get('email')?.dirty)
              ">
              {{
              createManagerForm.get("email")?.errors?.["required"]
              ? "Email is required"
              : "Please enter a valid email address"
              }}
            </mat-error>
          </mat-form-field>
        </div>

        <!--Country-->
        <div class="col-12 my-2">
          <label class="custom-label">Country</label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput type="text" placeholder="Enter country" formControlName="country" />

            <mat-error *ngIf="
                createManagerForm.get('country')?.invalid &&
                (createManagerForm.get('country')?.touched ||
                  createManagerForm.get('country')?.dirty)
              ">
              Country is required
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Phone Number -->
        <div class="col-12 my-2">
          <label class="custom-label mb-2">Phone Number</label>

          <mat-form-field appearance="outline" class="w-100">
            <input matInput type="tel" placeholder="Enter your phone number" formControlName="phoneNumber" />

            <mat-error *ngIf="
                createManagerForm.get('phoneNumber')?.invalid &&
                (createManagerForm.get('phoneNumber')?.touched ||
                  createManagerForm.get('phoneNumber')?.dirty)
              ">
              {{
              createManagerForm.get("phoneNumber")?.errors?.["required"]
              ? "Phone number is required."
              : "Please enter a valid Egyptian phone number."
              }}
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Password -->
        <div class="col-12 my-2">
          <label class="custom-label"> Password </label>

          <mat-form-field appearance="outline" class="w-100">
            <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Enter your password"
              formControlName="password" (input)="
                createManagerForm.get('password')?.updateValueAndValidity()
              " />
            <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
              <mat-icon>
                {{ hidePassword ? "visibility_off" : "visibility" }}
              </mat-icon>
            </button>

            <mat-error *ngIf="
                createManagerForm.get('password')?.invalid &&
                (createManagerForm.get('password')?.dirty ||
                  createManagerForm.get('password')?.touched)
              ">
              {{
              createManagerForm.get("password")?.errors?.["required"]
              ? "Password is required"
              : createManagerForm.get("password")?.errors?.["pattern"]
              ? "Password must contain uppercase, lowercase, number and special character"
              : ""
              }}
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Confirm Password -->
        <div class="col-12 my-2">
          <label class="custom-label"> Confirm Password </label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" placeholder="Confirm New Password"
              formControlName="confirmPassword" required />

            <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword = !hideConfirmPassword">
              <mat-icon>
                {{ hideConfirmPassword ? "visibility_off" : "visibility" }}
              </mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div *ngIf="createManagerForm.hasError('passwordMismatch') &&
            createManagerForm.get('confirmPassword')?.touched
          " class="alert alert-danger">
          Passwords do not match
        </div>
        <!-- Profile Image -->
        <div class="col-12">
          <app-file-drop [existingImage]="imagePreview" [label]="'Drop Profile Image Here'" [isInvalid]="
              createManagerForm.get('profileImage')?.invalid &&
              (createManagerForm.get('profileImage')?.touched ||
                createManagerForm.get('profileImage')?.dirty)
            " (fileSelected)="onImageSelected($event)" (fileRemoved)="onImageRemoved()">
          </app-file-drop>
        </div>

        <!-- Button -->
        <div class="col-md-6 offset-md-3 mt-5">
          <button class="main-btn w-100 d-flex flex-row-reverse gap-2 align-items-center justify-content-center"
            type="submit">
            <span>Save</span>
            <mat-spinner *ngIf="isLoading" diameter="22"></mat-spinner>
          </button>
        </div>
      </form>
    </section>
  </section>
</section>
