<section class="container">
  <section class="row">
    <section class="col-md-8 offset-md-2">
      <div class="mt-4">
        <h1>My Profile</h1>
      </div>

      <app-loader *ngIf="loadingData;else formData"></app-loader>

      <ng-template #formData>
        <form (ngSubmit)="onSubmit()" [formGroup]="profileForm">
          <!-- User Name -->
          <div class="col-12 my-2">
            <label class="custom-label mb-2">User Name</label>

            <mat-form-field appearance="outline" class="w-100">
              <input matInput type="text" placeholder="Enter your username" formControlName="userName" />

              <mat-error *ngIf="
        profileForm.get('userName')?.invalid &&
        (profileForm.get('userName')?.touched ||
          profileForm.get('userName')?.dirty)
      ">
                {{
                profileForm.get('userName')?.errors?.['required']
                ? 'This field is required.'
                : profileForm.get('userName')?.errors?.['minlength']
                ? 'Username must be at least 8 letters.'
                : 'The userName must contain characters and end with numbers without spaces'
                }}
              </mat-error>
            </mat-form-field>
          </div>
          <!-- Email -->
          <div class="col-12 my-2">
            <label class="custom-label mb-2">Email Address</label>

            <mat-form-field appearance="outline" class="w-100">
              <input matInput type="email" placeholder="Enter your email" formControlName="email" readonly />

              <mat-error *ngIf="
        profileForm.get('email')?.invalid &&
        (profileForm.get('email')?.touched ||
          profileForm.get('email')?.dirty)
      ">
                {{
                profileForm.get('email')?.errors?.['required']
                ? 'This field is required.'
                : 'Enter a valid email address.'
                }}
              </mat-error>
            </mat-form-field>
          </div>
          <!-- Country -->
          <div class="col-12 my-2">
            <label class="custom-label mb-2">Country</label>

            <mat-form-field appearance="outline" class="w-100">
              <input matInput type="text" placeholder="Enter your country" formControlName="country" />

              <mat-error *ngIf="
        profileForm.get('country')?.invalid &&
        (profileForm.get('country')?.touched ||
          profileForm.get('country')?.dirty)
      ">
                This field is required.
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Phone Number -->
          <div class="col-12 my-2">
            <label class="custom-label mb-2">Phone Number</label>

            <mat-form-field appearance="outline" class="w-100">
              <input matInput type="tel" placeholder="Enter your phone number" formControlName="phoneNumber" />

              <mat-error *ngIf="
    profileForm.get('phoneNumber')?.invalid &&
    (profileForm.get('phoneNumber')?.touched ||
      profileForm.get('phoneNumber')?.dirty)
  ">
                {{
                profileForm.get('phoneNumber')?.errors?.['required']
                ? 'Phone number is required.'
                : 'Please enter a valid Egyptian phone number.'
                }}
              </mat-error>
            </mat-form-field>
          </div>
          <!-- Confirm Password -->
          <div class="col-12 my-2">
            <label class="custom-label mb-2">Your Password</label>

            <mat-form-field appearance="outline" class="w-100">
              <input matInput [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Enter your password"
                formControlName="confirmPassword" />

              <button mat-icon-button matSuffix type="button" (click)="showConfirmPassword = !showConfirmPassword">
                <mat-icon>
                  {{ showConfirmPassword ? 'visibility_off' : 'visibility' }}
                </mat-icon>
              </button>

              <mat-error *ngIf="
        profileForm.get('confirmPassword')?.invalid &&
        (profileForm.get('confirmPassword')?.touched ||
          profileForm.get('confirmPassword')?.dirty)
      ">
                This field is required.
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Profile Image -->
          <div class="col-12">
            <app-file-drop [existingImage]="imagePreview" [label]="'Drop Profile Image Here'" [isInvalid]="profileForm.get('profileImage')?.invalid
              && (profileForm.get('profileImage')?.touched || profileForm.get('profileImage')?.dirty)"
              (fileSelected)="onImageSelected($event)" (fileRemoved)="onImageRemoved()">
            </app-file-drop>
          </div>

          <!-- Server Error -->
          <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>

          <!-- Buttons -->
          <div class="ms-auto col-12 d-flex gap-3 align-items-center flex-wrap justify-content-end buttons-container">
            <button type="button" class="btn btn-outline-danger">
              Cancel
            </button>

            <button class="main-btn d-flex flex-row-reverse gap-2 align-items-center justify-content-center"
              type="submit"
            >
              <span>Save</span>
              <mat-spinner *ngIf="isLoading" diameter="22" class="white-spinner"></mat-spinner>
            </button>
          </div>
        </form>
      </ng-template>
    </section>
  </section>
</section>
