/****Form Styling******************/
h1{
  font-family: var(--secondary-font-family);
  line-height: normal;
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--heading-color);
  margin-bottom: 8px;
}

form {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-btn{
  width: 100px;
  height: 40px;
  border-radius: 5px;
}
.white-spinner {
  --mdc-circular-progress-active-indicator-color: #fff;
}

.white-spinner ::ng-deep circle {
  stroke: #fff !important;
}

.buttons-container {
  margin-top: 30px;
  padding-top: 40px;
  border-top: 3px solid #f7f7f7;
}

:host {
  ::ng-deep {

    /* Remove outline */
    .mdc-text-field--outlined {
      --mdc-outlined-text-field-outline-width: 0px;
      --mdc-outlined-text-field-focus-outline-width: 0px;
      --mdc-outlined-text-field-container-shape: 0px;

      border-bottom: 1px solid var(--white-color);
      border-radius: 0;
      background: transparent;
    }

    /* Input sizing */
    .mat-mdc-form-field-infix,
    .mat-mdc-form-field,
    .mat-mdc-text-field-wrapper {
      min-height: 33px !important;
      padding-top: 3px !important;
      padding-bottom: 0 !important;
    }

    /* Suffix icon */
    .mat-mdc-form-field-icon-suffix {
      padding: 0 !important;
      display: flex;
      align-items: center;
      height: 33px !important;
    }

    .mat-mdc-icon-button.mat-mdc-button-base {
      width: 32px !important;
      height: 32px !important;
      padding: 4px !important;
      line-height: 1 !important;
    }

    .mat-icon {
      font-size: 18px !important;
      width: 18px !important;
      height: 18px !important;
      line-height: 18px !important;
      color: var(--primary-color) !important;
    }

    /* Input text */
    .mat-mdc-input-element {
      font-size: 16px;
    }

    /* Bottom border on focus */
    .mdc-text-field {
      border-bottom: 2px solid var(--primary-color);
    }

    /* Error message */
    .mat-mdc-form-field-error {
      color: #ff4d4f !important;
      font-size: 13px;
      margin-top: 4px;
    }

    /* Error/hint wrapper */
    .mat-mdc-form-field-hint-wrapper,
    .mat-mdc-form-field-error-wrapper {
      position: relative !important;
      top: -20px !important;
      margin: 0 !important;
      padding: 0 !important;
    }

    /* Spinner */
    // .mat-mdc-progress-spinner circle {
    //   stroke: #fff !important;
    // }

    /* Input color */
    // .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
    //   color: var(--white-color) !important;
    // }
  }
}

/* Remove ripple */
.mdc-line-ripple {
  display: none !important;
}
