<h2 mat-dialog-title class="dialog-title">
  {{ data.type | titlecase }} Details
</h2>

<mat-dialog-content class="dialog-content">
  <!---User Card-->
  <ng-container *ngIf="data.type === 'user'">
    <div class="user-card">

      <div class="user-card__banner">
        <div class="user-card__identity">
          <p class="user-card__name">{{ data.item.userName}}</p>
        </div>
        <span class="user-card__status" [class.user-card__status--active]="data.item.isActivated">
          {{ data.item.isActivated ? 'Active' : 'Inactive' }}
        </span>
        <div class="user-card__avatar">
          {{ data.item.userName.slice(0,2) }}
        </div>
      </div>

      <div class="user-card__body">
        <div class="user-card__fields">
          <div class="user-card__field">
            <p class="user-card__field-label">Country</p>
            <p class="user-card__field-value">{{ data.item.country }}</p>
          </div>
          <div class="user-card__field">
            <p class="user-card__field-label">Phone number</p>
            <p class="user-card__field-value">{{ data.item.phoneNumber }}</p>
          </div>
          <div class="user-card__field">
            <p class="user-card__field-label">Tasks</p>
            <p class="user-card__field-value">{{ data.item.task?.length }}</p>
          </div>
          <div class="user-card__field">
            <p class="user-card__field-label">Status</p>
            <p class="user-card__field-value">{{ data.item.isActivated ? 'Active' : 'Inactive' }}</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!----Project and Task-->
  <div class="top-card" *ngIf="data.type !== 'user'">
    <div class="title">
      <span class="label">Title:</span>
      {{ data.item.title }}
    </div>

    <div class="desc">
      <span class="label">Description:</span>
      {{ data.item.description }}
    </div>

  </div>

  <!-- Info Grid  -->
  <div [ngClass]="{
    'info-grid': data.type === 'task' || data.type === 'project',
    'd-flex flex-column flex-wrap gap-2': data.type === 'user'
  }">

    <!-- PROJECT  -->
    <ng-container *ngIf="data.type === 'project'">

      <div class="info-card">
        <span class="label">Manager</span>
        <span class="value">{{ data.item.manager?.userName || 'N/A' }}</span>
      </div>

      <div class="info-card">
        <span class="label">Email</span>
        <span class="value">{{ data.item.manager?.email || 'N/A' }}</span>
      </div>

      <div class="info-card">
        <span class="label">Tasks</span>
        <span class="value">{{ data.item.task?.length || 0 }}</span>
      </div>

    </ng-container>

    <!-- TASK  -->
    <ng-container *ngIf="data.type === 'task'">

      <div class="info-card">
        <span class="label">Status</span>
        <span class="value">{{ data.item.status || 'N/A' }}</span>
      </div>

      <div class="info-card">
        <span class="label">Project</span>
        <span class="value">{{ data.item.project?.title || 'N/A' }}</span>
      </div>

      <div class="info-card">
        <span class="label">user</span>
        <span class="value">{{ data.item.user?.userName || 'N/A' }}</span>
      </div>

    </ng-container>

    <!-- COMMON -->
    <div class="info-card" *ngIf="data.type !== 'user'">
      <span class="label">Created</span>
      <span class="value">
        {{ data.item.creationDate | date:'mediumDate' }}
      </span>
    </div>

    <div class="info-card" *ngIf="data.type !== 'user'">
      <span class="label">Updated</span>
      <span class="value">
        {{ data.item.modificationDate | date:'mediumDate' }}
      </span>
    </div>

  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close>
    Close
  </button>
</mat-dialog-actions>
