.app-header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
  box-shadow: 0px 1px 4px 0px #00000026;
  z-index: 100;
}

.spacer {
  flex: 1;
}

.search-bar {
  width: 350px;
}

.active {
  background: var(--nav-active);
  color: var(--primary-color);
  opacity: .9;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-btn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar,
.avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  color: white;
  font-weight: 600;
}

.avatar-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:host ::ng-deep .mat-mdc-button .mdc-button__label {
  display: flex;
  align-items: center;
  gap: 4px;
}

:host ::ng-deep .mat-mdc-icon-button .mat-icon {
  color: var(--primary-color);
}

::ng-deep .mat-badge-content {
  background: var(--primary-color);
  border: 1px solid white;
  color: white;
}

.logo {
  width: 166px;
}
