.statics-header {
  padding-left: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2.8px;
    height: 40px;
    background-color: var(--primary-color);
  }

  h2,
  p {
    font-family: var(--Inter-font);
  }

  h2 {
    font-weight: 500;
    font-size: .9rem;
    color: var(--dark-color);
    margin-bottom: 3px;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    color: var(--paragraph-color);
  }
}